.tabela {
    padding: 50px;
}

.tabela table {
    border-collapse: collapse;
    padding: 50px;
}

.tabela td {
    border: solid 1px gray;
    text-align: center;
    padding: 30px;
}

.tabela h2 {
    color: red;
}

.hero4 h1 {
    justify-content: center;
    display: flex;
    padding-top: 34px;
    color: #286aa3;
}

