body {
    margin: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: #448ac6;
    padding: 20px;
}

.cabecalho nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    align-items: center;
    color: white;
}

.cabecalho .butao {
    display: flex;
    background-color: rgb(221, 35, 35);
    padding: 10px;
    color: rgb(255, 255, 255);
    justify-content: center;
    
}


